.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    /*margin-top: -20px; /*default*/
    margin-top: 0px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #ba9f82;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/**************Polymer custom element css******************/
/*Styling checkbox:*/

/*To change the ink color for checked state:*/
paper-checkbox::shadow #ink[checked] {
  color: #4285f4;
}

/*To change the checkbox checked color:*/
paper-checkbox::shadow #checkbox.checked {
  background-color: #4285f4;
  border-color: #4285f4;
}

/*To change the ink color for unchecked state:*/
paper-checkbox::shadow #ink {
  color: #b5b5b5;
}

/*To change the checbox unchecked color:*/
paper-checkbox::shadow #checkbox {
  border-color: #b5b5b5;
}
