.head{
	padding: 10px;
	margin: 5px;
	font-size: 20px;
}

.grid{
/*	width: 500px;
    height: 250px;*/
}

.header-filtered {
  color: blue;
}
.red { color: red;  background-color: yellow !important; }
.blue { color: blue;  }	