<!-- ###################### HEADER #################################### -->
<!-- Toolbars or Navbars -->
<div ng-include="'components/navbar/navbar.html'"></div>   

<div class="container">


<!-- ########## UI-GRID Infinite scroll DIV ############## -->
<button id="button_add" class="btn" ng-click="add()">Add</button>
<button id="button_remove" class="btn" ng-click="remove()">Remove Last</button>
<button id="button_splice" class="btn" ng-click="splice()">Splice</button>
<button id="button_unsplice" class="btn" ng-click="unsplice()">Remove Middle</button>
<button class="btn btn-success" ng-click="gridOptions.showColumnFooter = !gridOptions.showColumnFooter; $scope.gridApi.core.notifyDataChange(uiGridConstants.dataChange.OPTIONS);">Toggle Column Footer</button>
<p class="head"><code><strong>UI-Grid</strong></code></p>

<div ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-infinite-scroll="20" dir="rtl" ui-grid-pinning ui-grid-resize-columns>

 </div>
<!-- ########## UI-GRID Infinite scroll DIV ############## -->

<!-- ########## INFINITE SCROLL DIV ############## -->
<p class="head"><code><strong>NG Infinite Scroll</strong></code></p>
<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
    <div ng-repeat='item in reddit.items'>
      <span class='score'>{{item.goalName}}</span>
      <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.goalDesc}}</a>
      </span>
      <small>by {{item.created_by}} -
        <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
      </small>
      <div style='clear: both;'></div>
    </div>
    <div ng-show='reddit.busy'>Loading data...</div>
  </div>
<!-- ########## INFINITE SCROLL DIV ############## -->

 </div>
<!-- ################## FOOTER ######################################## -->
<footer class="footer">
  <div class="container">
      <p>angular-fullstack-base |
        <a href="https://twitter.com/merumman">@merumman</a> |
         <a href="https://github.com/knofler/angular-fullstack-base/issues">Issues</a></p>
  </div>
 </footer>
<!-- ################## END OF FOOTER ################################# !-->