<div class="container">
<p><strong>This is custom directive from here.</strong></p>
  <p>{{data}}</p>
  <button ng-click="changeDiv()">Hide Custom Element</button>	
  <button ng-click="render({arg:'data from directive'})">Show Data</button>
  <div ng-transclude>{{transcludeVar}}</div>

<!-- ########## INFINITE SCROLL DIV ############## -->
<p class="head"><code><strong>NG Infinite Scroll</strong></code></p>
<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
    <div ng-repeat='item in reddit.items'>
      <span class='score'>{{item.goalName}}</span>
      <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.goalDesc}}</a>
      </span>
      <small>by {{item.created_by}} -
        <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
      </small>
      <div style='clear: both;'></div>
    </div>
    <div ng-show='reddit.busy'>Loading data...</div>
  </div>
<!-- ########## INFINITE SCROLL DIV ############## -->

</div>
